body{
    background-color: green; ;
}

#loginModal{
  background-color: rgba($color: #08ec00, $alpha: 0.5);  
}

#newPageModal{
    background-color: rgba($color: rgb(4, 0, 255), $alpha: 0.25);
}

#contact-modal-content{
    background-color: rgba($color: #6200ff, $alpha: 0.75);
}

.contact-modal-content-adresse{
    background-color: yellow;
}
